/GSLogParser.exe
/templates/compliance_template.html
/templates/daily_summary_template.html
/templates/daily_usage_summary_pages.html
/templates/images/ctx_logo.png
/templates/images/logo.png
/templates/subject_summary_template.html
